{
  "extends": "airbnb-base",
  "rules": {
    "no-else-return": "off",
    "no-return-assign": "off",
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "import/prefer-default-export": "off",
    "no-shadow": ["error", {"allow": ["describe", "it", "lens", "merge", "map", "all"]}],
    "padded-blocks": "off",
    "global-require": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "arrow-parens": ["error", "always"]
  }
}